*.pid
*.xml
*.csr
*.crt
*.key
*.pickle
*.password
homebridge
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.*
password.txt
*.db-journal
lib
deps
tts
google_calendars.yaml
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
entity_registry.yaml
configurator.py
